*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: #0B122C;
}
main{
    min-height: 96vh;
    max-width: 1550px;
    padding: 10px;
    margin: auto;
}
#logo{
    background-color: aliceblue;

    display: flex;
    justify-content: space-between;
}
div > p{
    font: normal 20pt Luminari;
    color: rgb(223, 225, 236);
    text-shadow: 2px 2px 2px rgb(0, 20, 110);
    line-height: initial ;
}
#logo>img{
    width: 250px;
    height: 200px;
}

nav{
    background-color: #1f3277;
    height: 30px;
    font: normal 15pt Verdana;
    line-height: 30px;
    border-radius:20px 0px  ;
    
}
nav > a{
    padding-left: 10px;
    text-decoration: none;
    text-shadow: 2px 2px 2px rgb(0, 0, 0); 
}
a:link{
    color:white;
}
a:visited{
    color: white;
}
a:hover{
    background-color: rgb(255, 255, 255);
    border: 10px solid rgb(255, 255, 255);
    border-radius: 6px;
    color:rgba(0, 0, 0, 0.979);
    text-shadow: none;
    border-radius:10px 0px  ;
}
article > h1{
    background-color: #07071f;
    font: normal 25pt Tahoma;
    color: rgb(245, 237, 237);
    border: 10px  solid #07071f;
    text-shadow: 2px 2px 2px #0a1068;
    text-align: center;
    text-decoration: underline red;
}
div#principal{
    display: flex;
    justify-content: space-around;

    
}
article.destaque{
    background-color: rgb(6, 10, 34);
    color: white;
    height: 700px;
    width:500px ;
    display: block;
    padding: 2px;
    border: 3px solid rgb(8, 8, 8);

}
article.destaque > img{
    width: 500px;
    height: 300px;
}
article > p{
    text-align: justify;
    padding: 1px 8px;
}
footer{
    background-color: white;
    text-align: center;
    text-shadow:3px 3px 3px #a5a5a5;
}